# zh_cn.config(UTF-8)
[map]
map_grid=   x, x, x, x, x, x, x, x, x, x, x
            x, x, x, x, x, x, x, x, x, x, x
            x, -, x, x, -, x, -, -, -, G, x
            x, -, x, x, -, x, -, -, -, -, x
            x, -, x, x, -, x, x, -, x, x, x
            x, -, x, x, -, x, x, -, x, x, x
            x, -, x, x, -, -, -, -, -, -, x
            x, -, x, x, x, x, x, x, -, -, x
            x, -, x, x, x, x, x, x, -, -, x
            x, S, -, -, -, -, -, -, -, -, x
            x, x, x, x, x, x, x, x, x, x, x