# zh_cn.config(UTF-8)
[map]
map_grid=   x, x, x, x, x, x, x, x, x, x, x
            x, x, x, x, x, x, x, x, x, x, x
            x, G, E, -, E, E, E, E, E, E, x
            x, -, E, -, -, E, E, -, -, E, x
            x, -, -, -, -, E, E, E, -, E, x
            x, E, E, E, -, -, E, E, -, E, x
            x, -, -, -, -, -, E, E, -, E, x
            x, -, E, E, E, -, E, E, -, E, x
            x, -, E, E, E, -, -, -, -, E, x
            x, -, E, E, E, -, -, -, S, E, x
            x, x, x, x, x, x, x, x, x, x, x