# zh_cn.config(UTF-8)
[map]
map_grid=   x, x, x, x, x, x, x, x, x, x, x
            x, x, x, x, x, x, x, x, x, x, x
            x, K, E, E, E, x, E, E, E, G, x
            x, -, E, E, E, x, E, E, E, -, x
            x, -, -, -, -, x, -, -, -, -, x
            x, -, -, -, -, x, x, D, x, x, x
            x, -, -, -, -, K, -, -, -, -, x
            x, -, -, -, -, -, -, -, -, -, x
            x, E, E, E, x, -, -, -, -, -, x
            x, E, E, E, x, -, -, -, S, -, x
            x, x, x, x, x, x, x, x, x, x, x