# zh_cn.config(UTF-8)
[map]
map_grid=   x, x, x, x, x, x, x, x, x, x, x
            x, x, x, x, x, x, x, x, x, x, x
            x, -, E, E, E, x, -, -, -, G, x
            x, -, E, E, E, x, -, -, -, -, x
            x, -, -, -, -, x, -, -, -, -, x
            x, -, -, -, -, x, x, -, x, x, x
            x, -, -, -, -, -, -, -, -, E, x
            x, -, -, -, -, -, -, -, -, E, x
            x, E, E, E, x, -, -, -, -, E, x
            x, E, E, E, x, -, -, -, S, E, x
            x, x, x, x, x, x, x, x, x, x, x